        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
        
        * {
            font-family: 'Open Sans', sans-serif;
        }

        h1 {
            font-size: 18px;
            color: #aaa;
        }

        h1 span {
            text-transform: uppercase;
            letter-spacing: 3px;
            padding-right: 5px;
        }

        h2 {
            text-align: center;
        }

        html, body {
            height: 100%;
        }

        iframe {
            height: 335px;
        }
        body {
            display: block;
        }

        .bold {
            font-weight: 900;
        }

        a {
            text-decoration: none;
        }

        .bold a {
            text-decoration: underline;
        }

        .menu {
            padding: 0px 20px;
            margin: 10px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            display: inline;
            padding-right: 15px
        }

        .airtable-hello {
            position: fixed;
            right: 0;
            bottom: 0;
            padding: 20px;
            margin: 30px;
            background-color: lightblue;
            border-radius: 50%;
            font-size: 30px;
            box-shadow: black 1px 1px 10px;
            text-decoration: none;
            text-align: center;
        }

        .airtable-hello:hover {
            padding: 22px;
            cursor: pointer;
        }

        .flex-container {
            display: flex;
            flex-flow: column;
            padding: 20px;
        }

        .flex-container .row {
            display: flex;
            justify-content: space-between;
        }

        .hero {
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            letter-spacing: 12px;
        }

        .solar-hero {
            background-color: yellow;
        }

        .ev-hero {
            background-color: pink;
        }